{% extends "blog/base.html" %}

{% block content %}
<h2>Website chính thức được Bệnh viện K sử dụng là cổng thông tin để nhân viên y tế, người bệnh và người nhà người bệnh cập nhật và thông báo tình trạng sức khỏe cho Bệnh viện.</h2>
<br>
<h2>Để phòng tránh bệnh COVID-19, Bệnh viện K đề nghị: </h2>
    <ul>
	    <li> Mọi người nâng cao ý thức cộng đồng trong phòng chống bệnh COVID-19.</li> 
        <li>Tuân thủ các quy định về phòng dịch của BYT và Tổ chức Y Tế thế giới.</li>
        <li> Tuân thủ các quy định của bệnh viện và hướng dẫn của nhân viên y tế.</li>
        <li>Mọi người cần khai báo y tế và cập nhật tình trạng sức khỏe trên website này trước khi đến bệnh viện và cập nhật tình trạng sức khỏe 1 ngày hoặc ngay trước khi đến bệnh viện.</li>
    	   
    </ul>
{% endblock content %}