





{% extends "blog/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Cập nhật khai báo Sức Khỏe</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
        
            <form method="POST">
                {% csrf_token %}  

                <div class="form-group form-check">
                    <input type="checkbox" name="sot" class="form-check-input" id="sot" {% if todo.sot %}checked{% endif %}>
                    <label class="form-check-label" for="ho">Sot</label>
                </div>
                
                <div class="form-group form-check">
                    <input type="checkbox" name="ho" class="form-check-input" id="ho" {% if todo.ho %}checked{% endif %}>
                    <label class="form-check-label" for="ho">Ho</label>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" name="kho_tho" class="form-check-input" id="kho_tho" {% if todo.kho_tho %}checked{% endif %}>
                    <label class="form-check-label" for="kho_tho">Khó thở</label>
                </div>
                
                <div class="form-group form-check">
                    <input type="checkbox" name="vung_dich" class="form-check-input" id="vung_dich" {% if todo.vung_dich %}checked{% endif %}>
                    <label class="form-check-label" for="vung_dich">Đi về từ Vùng Dịch</label>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" name="tiepxuc_f0" class="form-check-input" id="tiepxuc_f0" {% if todo.tiepxuc_f0 %}checked{% endif %}>
                    <label class="form-check-label" for="tiepxuc_f0">Tiếp xúc với F0</label>
                </div>  

                <div class="form-group form-check">
                    <input type="checkbox" name="tiepxuc_f1" class="form-check-input" id="tiepxuc_f1" {% if todo.tiepxuc_f1 %}checked{% endif %}>
                    <label class="form-check-label" for="tiepxuc_f0">Tiếp xúc với F1</label>
                </div>  

                <div class="form-group">
                    <label for="tt_banthan">xác định tình trạng bản thân </label>
                    <input type="text" name="tt_banthan" class="form-control" id="tt_banthan" value="{{ todo.tt_banthan }}" required>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" onclick="$('#delete').click()">Delete</button>
            </form>
        </div>
    </div>

    <form style='display: none;' method="POST" action="{% url 'deletetodo' todo.id %}">
        {% csrf_token %}
        <button id="delete" type="submit">Delete</button>
    </form>
{% endblock %}